.root{
  padding: 0px 20px 20px;
  background-color: #FFAB08;
  min-height: 100%;
}
.page{
  background-color: white;
  padding: 0px 0px 40px;
  border-radius: 10px;
  max-width: 1500px;
  margin: auto;
  animation: page;
  opacity: 0;
  animation-duration: 0.8s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}
@keyframes page{
  from{
    display: none;
  }
   to{ 
    display: block;
      opacity: 1;
   }
}